
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
}

.form-container {
    background-color: #444;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    height: 1080px;
    left: 527px;
    width: 1393px;
    background-color: #242424;
    display: grid;

}
.form-container h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    font-family: 'Poppins';
    color: #FFFFFF;
    height: 48px;
    top: 106px;
    left: 826px;
    width: 329px;
    padding-top: 106px;
    margin-left: 299px;
}
.form-container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    font-family: 'Poppins';
    color: #7F7F7F;
    height: 54px;
    top: 164px;
    left: 826px;
    width: 625px;
    margin-left: 299px;
    margin-top: 20px;
}
form input, form button {
    display: block;
    /* width: 100%; */
    margin: 10px;
    padding: 10px;
    /* border: none; */
    border-radius: 5px;
    height: 48px;
    top: 278px;
    left: 824px;
    border-radius: 5px;
    border: 1px solid #4c4a4a;
    width: 800px;
    /* justify-content: center; */
    align-items: center;
    margin-left: 299px;
    margin-top: 30px;
    background-color: #242424;
    color: white;
}

form button {
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    height: 48px;
    width: 200px;
    border: none;
}
form button:hover {
    transform: scale(1.1);
}
/* .form-container form {
    margin-top: -100px;
} */
.table-container {
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #555;
}

table th {
    background-color: #262323;
}
.check {
    display: flex;
    gap: 16px;

}
.check #checkbox{
    width: 24px;
    height: 24px;
    color: #242424;
    border-radius: 4px;
    background-color: #3D3D3D;

}
.check h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: 'Poppins';
    width: 146px;
    color: #7F7F7F;
    padding-top: 30px;
}
.table-container {
    width: 1393px;
}
.hero {
    border: 2px solid #3D3D3D;
    height: 2px;
    top: 918px;
    left: 824px;
    width: 800px;
    margin-left: 299px;
    margin-top: 50px;
}

.textWrapper {
    display: flex;
    gap: 2px;
    /* gap: 0px; */
}
.textWrapper h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: 'Poppins';
    color: #7F7F7F;
    margin-left: 297px;
    /* margin-top: 30px; */
    margin-top: 30px;
}

.textWrapper h5 img {
    margin-bottom: -4px;
    cursor: pointer;
}